<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
          height="15"
          alt="MDB Logo"
          loading="lazy"/>
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Accueil</a>
            <button><a class="nav-link" href="{{ url_for('logout') }}">Se déconnecter</a></button>

        </li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      <a class="link-secondary me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <div class="dropdown">
        <ul><a
          data-mdb-dropdown-init
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          aria-expanded="false"></a>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Se déconnecter</a>
<a class="nav-link" href="{{ url_for('mes_reservations', user_id=user.id) }}">Historique</a>


        </ul>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="#">Mon profil</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Se déconnecter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

</body>
</html>
