{% for chambre in chambres %}
    <div class="col-md-4 mb-4">
        <div class="card">
            {% if chambre.image %}
                <img src="{{ url_for('static', filename='images/' + chambre.image) }}" class="card-img-top" alt="{{ chambre.classe }}">
            {% else %}
                <img src="{{ url_for('static', filename='images/back.jpg') }}" class="card-img-top" alt="{{ chambre.classe }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ chambre.classe }}</h5>
                <p class="card-text">{{ chambre.description }}</p>
                <p class="card-text"><strong>Prix :</strong> {{ chambre.prix }} €</p>
                {% if chambre.est_reservee %}
                    <p class="text-danger">Cette chambre est actuellement réservée.</p>
                {% else %}
                    <a href="{{ url_for('details', chambre_id=chambre.id) }}" class="btn btn-primary">Voir détails</a>
                    <a href="{{ url_for('reservation', chambre_id=chambre.id) }}" class="btn btn-success">Réserver</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
